{% extends 'base.html' %}

{% block title %}
  JSON Store - 
  {% if jsonstore.name %}
    '{{ jsonstore.name }}'
  {% else %}
    ID #{{ jsonstore.pk }}
  {% endif %}
{% endblock %}

{% block body_title %}JSON Store{% endblock %}
{% block body_subheading %}
  Store Info
{% endblock %}

{% block content %}

{% if jsonstore.user == request.user and jsonstore.is_public %}
<div class="my-2 alert alert-info"><strong>This page is publicly accessible by anyone with access to its public URL (<a href="{{ BACKEND_SERVER_URL }}{% url 'stores:jsonstore_detail_public' jsonstore_name=jsonstore.name %}">{{ BACKEND_SERVER_URL }}{% url 'stores:jsonstore_detail_public' jsonstore_name=jsonstore.name %}</a>). It may also be crawled by search engines. Please ensure that this store does not contain any sensitive information, or <a href="{% url 'stores:jsonstore_update' jsonstore_pk=jsonstore.pk %}">change this store's settings</a> so that it is not publicly viewable.</strong></div>
{% endif %}

<div class="mx-4 my-5 store-detail-info">

  <p>Store ID#: 
    <strong>{{ jsonstore.pk }}</strong>
  </p>

  <p>Store Name:
    <span class="font-weight-bold">
      {% if jsonstore.name %}
        {{ jsonstore.name }}
      {% else %}
        N/A
      {% endif %}
    </span>
  </p>

  <p>Publicly accessible: 
    {% if jsonstore.is_public %}
      <strong>Yes</strong> (<a href="{% url 'stores:jsonstore_detail_public' jsonstore_name=jsonstore.name %}">link</a>)
    {% else %}
      <strong>No</strong>
    {% endif %}
  </p>

  <div class="mt-4">Store Data:
    <pre id="store-data-output" class="m-4 p-3 store-data-output">
    </pre>
  </div>


</div>

{% if request.user == jsonstore.user %}
  <div class="bottom-links">
    <p>
      <a href="{% url 'stores:jsonstore_update' jsonstore_pk=jsonstore.pk %}">
        Modify this store
      </a>
    </p>
    <p>
      <a class="text-danger"
         href="{% url 'stores:jsonstore_delete' jsonstore_pk=jsonstore.pk %}">
        Delete this store
      </a>
    </p>
    <p class="mt-4">
      <a href="{% url 'stores:jsonstore_list' %}">
        View all your stores
      </a>
    </p>
  </div>
{% endif %}

{{ jsonstore.data|json_script:"store-data-input" }}
<script>
  const storeDataInput = document.querySelector('#store-data-input').textContent;
  let storeDataEl = document.querySelector('#store-data-output');
  storeDataEl.textContent = JSON.stringify(JSON.parse(storeDataInput), null, 2);
</script>

{% endblock content %}
{% block style %}

.store-data-output {
  background-color: #eee;
  border-radius: 0.5rem;
}

{% endblock style %}
