{% extends 'base.html' %}

{% block title %}Your JSON Stores{% endblock %}
{% block body_title %}Your JSON Stores{% endblock %}

{% block content %}
<h2 class="mt-6">Your JSON Stores</h2>
<p>You have {{ user.jsonstore_set.count }} JSON store{{ user.jsonstore_set.count|pluralize }} ({{ user.profile.account_tier|capfirst }} Tier Limit: {{ SERVER_CONFIG.MAX_STORE_COUNT_USER_FREE }})</p>
  {% include 'stores/jsonstore_list_template.html' %}

<div class="bottom-links">
  <p>
    <a href="{% url 'users:user_detail_me' %}">View your account profile</a>
  </p>
</div>
{% endblock content %}
