{% extends 'base.html' %}

{% block title %}
  JSON Store - 
  {% if jsonstore.name %}
    '{{ jsonstore.name }}'
  {% else %}
    ID #{{ jsonstore.pk }}
  {% endif %}
{% endblock %}

{% block body_title %}JSON Store{% endblock %}
{% block body_subheading %}
  {% if request.resolver_match.view_name == 'stores:jsonstore_detail_public' %}Public{% endif %} Store Info 
  {% if request.user == jsonstore.user and request.resolver_match.view_name == 'stores:jsonstore_detail_name' %}
    - '{{ jsonstore.name }}'
  {% elif request.user == jsonstore.user and request.resolver_match.view_name == 'stores:jsonstore_detail' %}
    - ID #{{ jsonstore.pk }}
  {% endif %}
{% endblock %}

{% block content %}

{% if jsonstore.user == request.user and jsonstore.is_public %}
  <div class="my-2 alert alert-info font-weight-bold">
    <div>
      This store is publicly viewable by anyone with access to its 
      <a href="{{ BACKEND_SERVER_URL }}{% url 'stores:jsonstore_detail_public' jsonstore_name=jsonstore.name %}">
        public URL
      </a>
      or store name. It may also be crawled by search engines.</div>
    <div class="mt-2">Please ensure that this store does not contain any sensitive information, or
      <a href="{% url 'stores:jsonstore_update' jsonstore_pk=jsonstore.pk %}">
        change this store's settings
      </a>
      so that it is not publicly viewable.
    </div>
  </div>
{% endif %}

<div class="mx-4 my-5 store-detail-info">

  <p>
    <span class="font-weight-bold">Store ID#:</span>
    <span class="ml-1">{{ jsonstore.pk }}</span>
    {% if jsonstore.name and request.user == jsonstore.user and request.resolver_match.view_name != 'stores:jsonstore_detail' %}
      <span class="ml-1">
        (<a href="{% url 'stores:jsonstore_detail' jsonstore_pk=jsonstore.pk %}">private link</a>)
      </span>
    {% endif %}
  </p>

  <p>
    <span class="font-weight-bold">Store Name:</span>
    <span class="ml-1">
      {% if jsonstore.name %}
        {{ jsonstore.name }}
      {% else %}
        N/A
      {% endif %}
    </span>
    {% if request.user == jsonstore.user and request.resolver_match.view_name != 'stores:jsonstore_detail_name' %}
      <span class="ml-1">
        (<a href="{% url 'stores:jsonstore_detail_name' jsonstore_name=jsonstore.name %}">private link</a>)
      </span>
    {% endif %}
  </p>

  {% if request.user == jsonstore.user %}
    <p>
      <span class="font-weight-bold">Private API Endpoint:</span>
      <span class="ml-1">
        {{ BACKEND_SERVER_URL }}{% url 'api:jsonstore-detail' pk=jsonstore.pk %}
      </span>
    </p>
  {% endif %}

  <p>
    <span class="font-weight-bold">Publicly accessible:</span>
    <span class="ml-1">
      {% if jsonstore.is_public %}
        Yes
        <span class="ml-1">
          (<a href="{% url 'stores:jsonstore_detail_public' jsonstore_name=jsonstore.name %}">public link</a>)
        </span>
      {% else %}
        No
      {% endif %}
    </span>
  </p>

  {% if jsonstore.is_public %}
    <p>
    <span class="font-weight-bold">Public API Endpoint:</span>
    <span class="ml-2">{{ BACKEND_SERVER_URL }}{% url 'api:jsonstore_detail_public' jsonstore_name=jsonstore.name %}
    </p>
  {% endif %}

  <div class="mt-4">Store Data:
    <pre id="store-data-output" class="m-4 p-3 store-data-output">
    </pre>
  </div>


</div>

{% if request.user == jsonstore.user %}
  <div class="bottom-links">
    <p>
      <a href="{% url 'stores:jsonstore_update' jsonstore_pk=jsonstore.pk %}">
        Modify this store
      </a>
    </p>
    <p>
      <a class="text-danger"
         href="{% url 'stores:jsonstore_delete' jsonstore_pk=jsonstore.pk %}">
        Delete this store
      </a>
    </p>
    <p class="mt-4">
      <a href="{% url 'stores:jsonstore_list' %}">
        View all your stores
      </a>
    </p>
  </div>
{% endif %}

{{ jsonstore.data|json_script:"store-data-input" }}
<script>
  const storeDataInput = document.querySelector('#store-data-input').textContent;
  let storeDataEl = document.querySelector('#store-data-output');
  storeDataEl.textContent = JSON.stringify(JSON.parse(storeDataInput), null, 2);
</script>

{% endblock content %}
{% block style %}

.store-data-output {
  background-color: #eee;
  border-radius: 0.5rem;
}

{% endblock style %}
