{% extends 'base.html' %}

{% block title %}Your JSON Stores{% endblock %}
{% block body_title %}Your JSON Stores{% endblock %}

{% block content %}
<h2 class="mt-6">Your JSON Stores</h2>

{% include 'stores/jsonstore_list_template.html' %}

{% include 'users/user_account_status_template.html' %}

<div class="bottom-links">
  <p><a href="{% url 'api_schema' %}">View API Schema</a></p>
  <p><a href="{% url 'users:user_detail_me' %}">View your account profile</a></p>
</div>
{% endblock content %}
