[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
django-cors-headers = "*"
ipython = "*"
django-simple-captcha = "*"
Pillow = "*"
django-crispy-forms = "*"
celery = "*"
redis = "*"
django-ses = "*"
requests = "*"
drf-spectacular = "*"
factory-boy = "*"
coverage = "*"
beautifulsoup4 = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
