body {
  margin: 0;
  font-family: Helvetica;
	min-height: 100vh;
}

a {
  font-weight: bold;
}

ul {
	margin-bottom: 2rem;
}

/* ui components */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.header-title-container {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item-container {
  display: flex;
  margin-right: 1rem;
  align-items: center;
}

.nav-item {
  margin: auto 1rem;
}

.nav-item-icon {
  margin-right: 0.25rem;
  font-size: 2.5rem;
}

.content-container {
  margin: 0 2rem;
}

.info-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  background-color: #ddd;
  width: 100vw;
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  transition: opacity 0.5s;
}

.info-message-item {
  text-align: center;
  margin: auto 2rem;
}

.info-message-item:not(:first-child) {
  margin-top: 1rem;
}

.body-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-title {
	margin-top: 1rem;
  margin-bottom: 0;
}

.body-subheading {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.bottom-links {
  list-style-type: '- ';
  margin-top: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.bottom-links-continued {
  list-style-type: '- ';
  font-size: 1.2rem;
  font-weight: bold;
}

/* text */
.bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.cursor-url {
  cursor: pointer;
}

.no-select {
  user-select: none;
}

.text-center {
  text-align: center;
}

.unstyled-link {
  cursor: pointer;
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.unstyled-link:hover {
  text-decoration: underline;
}

/* misc */

.list-style-type-dashed {
  list-style-type: '- ';
}
