{% extends 'base.html' %}

{% block title %}Your Account - {{ user.username }}{% endblock %}
{% block body_title %}Your Account{% endblock %}
{% block body_subheading %}{{ user.username }}{% endblock %}

{% block body_start_script %}
function showApiKey() {
  let userToken = '{{ user_token }}'
  if (userToken) {
    alert(`Your API key is '${userToken}'`);
  }
}
{% endblock body_start_script %}
{% block content %}

<hr class="m-4" />

<h2 class="mt-4">Your JSON Stores</h2>
{% include 'stores/jsonstore_list_template.html' %}
<div class="bottom-links-continued">
  <p><a href="{% url 'stores:jsonstore_list' %}">View all your JSON stores</a></p>
</div>

<hr class="m-5" />

<h2 class="mt-4">Account Status: {{ request.user.profile.account_tier|capfirst }} Tier</h2>

<p class="mt-4">
  <strong>Your JSON Store Count:</strong> {{ request.user.jsonstore_set.count }}
  (Total allowed for this tier: {{ request.user.profile.get_max_store_count }})
</p>
<p>
  <strong>Max Size Per Store on {{ request.user.profile.account_tier|capfirst }} Tier:</strong>
  {{ request.user.profile.get_max_store_data_size_in_kb }} KB
</p>
<p><strong>Storage Used:</strong>
  {{ request.user.profile.get_all_stores_data_size_in_kb }} KB /
  {{ request.user.profile.get_max_all_stores_data_size_in_kb }} KB
</p>
<p><strong>Your Current API Call Limit:</strong> {{ SERVER_CONFIG.THROTTLE_RATE_USER }}</p>

<div class="bottom-links">
  <p><a href="{% url 'users:user_update_account_tier' %}">Manage your account limits</a></p>
</div>


<hr class="m-5" />

<h2 class="mt-4">Account Settings</h2>

<div class="mt-4 bottom-links">
  <p class="mt-4">
    <span class="unstyled-link" onclick="showApiKey()">View your API key</span>
  </p>
  <p>
    <a href="{% url 'users:user_update_api_key' %}">Get a new API key</a>
  </p>
  <p class="mt-4">
    <a href="{% url 'users:user_update_profile' %}">Update your account settings</a>
  </p>
  <p>
    <a href="{% url 'users:user_detail_public' username=user.username %}">
      View your public profile{% if not user.profile.is_public %} (currently disabled){% endif %}
    </a>
  </p>
  <p class="mt-4">
    <a class="text-danger" href="{% url 'users:user_delete' %}">
      Delete your account
    </a>
  </p>
</div>

{% endblock content %}
