{% extends 'base.html' %}

{% block title %}{{ public_user.username }}'s Public JSON Stores{% endblock %}
{% block body_title %}{{ public_user.username }}'s Public JSON Stores{% endblock %}

{% block content %}

<hr class="m-5" />

{% with is_public=True %}
  {% include 'stores/jsonstore_list_template.html' %}
{% endwith %}

<div class="bottom-links">
  {% if request.user.username == public_user.username %}
    <p><a href="{% url 'users:user_detail_me' %}">View your personal profile</a></p>
  {% endif %}
</div>

<hr class="m-5" />

{% endblock content %}
