{% extends 'base.html' %}

{% block title %}User Info - {{ user.username }}{% endblock %}

{% block body_title %}{{ user.username }}{% endblock %}
{% block body_subheading %}Your Account Profile{% endblock %}

{% block content %}

<hr class="m-5">

{% include 'jsonsaver/jsonstore_list_template.html' %}
<p>
  <a href="{% url 'jsonsaver:jsonstore_list' %}">View all your JSON stores</a>
</p>

<hr class="m-5">

<h2 class="mt-6">Account Settings</h2>

<div class="bottom-links">
  <p>
    <a class="text-danger"
       href="{% url 'users:user_delete' %}">
      Delete your account
    </a>
  </p>
</div>

<hr class="m-5">
{% endblock content %}
