{% extends 'base.html' %}

{% block title %}User Info - {{ user.username }}{% endblock %}

{% block body_title %}{{ user.username }}{% endblock %}
{% block body_subheading %}Your Account Profile{% endblock %}

{% block content %}

<h2 class="mt-6">Your JSON Stores</h2>

{% if stores %}
<ul>
  {% for store in stores %}
  <li>{{ store.name }}</li>
  {% endfor %}
</ul>
</ul>
{% else %}
<p>There's nothing here yet.</p>
{% endif %}

<p><a href="{% url 'jsonsaver:jsonstore_create' %}">Create new store</a></p>

<h2 class="mt-6">Account Settings</h2>

<p>There's nothing here yet.</p>

{% endblock content %}
