<h2 class="mt-6">Your JSON Stores</h2>

{% if jsonstores %}
<ul>
  {% for jsonstore in jsonstores %}
  <li>
    <a href="{% url 'jsonsaver:jsonstore_detail' jsonstore_pk=jsonstore.pk %}">
      {% if jsonstore.name %}
        Store Name: '{{ jsonstore.name }}'
      {% else %}
        Store ID#: {{ jsonstore.pk }}
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
</ul>
{% else %}
<p>There's nothing here yet.</p>
{% endif %}

<p><a href="{% url 'jsonsaver:jsonstore_create' %}">Create new store</a></p>
