{% extends 'base.html' %}

{% block title %}
  JSON Store - 
  {% if jsonstore.name %}
    '{{ jsonstore.name }}'
  {% else %}
    ID #{{ jsonstore.pk }}
  {% endif %}
{% endblock %}

{% block body_title %}JSON Store{% endblock %}
{% block body_subheading %}
  Store Info
{% endblock %}

{% block content %}

<div class="mx-4 my-5 store-detail-info">

  <p>Store ID#: 
    <strong>{{ jsonstore.pk }}</strong>
  </p>

  <p>Store Name:
    <span class="font-weight-bold">
      {% if jsonstore.name %}
        {{ jsonstore.name }}
      {% else %}
        N/A
      {% endif %}
    </span>
  </p>

  <p>Publicly accessible: 
    <strong>{{ jsonstore.is_public|yesno|capfirst }}</strong>
  </p>

  <div class="mt-4">Store Data:
    <pre id="store-data-output" class="m-4 p-3 store-data-output">
    </pre>
  </div>


</div>

{% if request.user == jsonstore.user %}
<div class="bottom-links">
  <p>
    <a href="{% url 'jsonsaver:jsonstore_update' jsonstore_pk=jsonstore.pk %}">
      Modify this store
    </a>
  </p>
  <p>
    <a class="text-danger"
       href="{% url 'jsonsaver:jsonstore_delete' jsonstore_pk=jsonstore.pk %}">
      Delete this store
    </a>
  </p>
  <p class="mt-4">
    <a href="{% url 'jsonsaver:jsonstore_list' %}">
      View all your stores
    </a>
  </p>
</div>
{% endif %}

{{ jsonstore.data|json_script:"store-data-input" }}
<script>
  const storeDataInput = document.querySelector('#store-data-input').textContent;
  let storeDataEl = document.querySelector('#store-data-output');
  storeDataEl.textContent = JSON.stringify(JSON.parse(storeDataInput), null, 2);
</script>

{% endblock content %}

{% block style %}

.store-data-output {
  background-color: #eee;
  border-radius: 0.5rem;
}

{% endblock style %}
