{% extends 'base.html' %}

{% block title %}
  Delete JSON Store - 
  {% if jsonstore.name %}
    '{{ jsonstore.name }}'
  {% else %}
    ID #{{ jsonstore.pk }}
  {% endif %}
{% endblock %}


{% block body_title %}
  Delete JSON Store - 
  {% if jsonstore.name %}
    '{{ jsonstore.name }}'
  {% else %}
    ID #{{ jsonstore.pk }}
  {% endif %}
{% endblock %}

{% block content %}
  Are you sure you want to delete this JSON Store?
  {% if jsonstore.name %}
    ('{{ jsonstore.name }}')
  {% else %}
    (Store ID# {{ jsonstore.pk }})
  {% endif %}

  {% with confirm_text="Yes, I want to permanently delete this JSON store." confirm_style="danger" %}
    {% include 'base_form.html' %}
  {% endwith %}

{% endblock content %}
