{% load crispy_forms_tags %}

<form class="mt-4 form" method="post">

  {% csrf_token %}

  <div class="form-item-container">
    {{ form|crispy }}
  </div>

  {% if confirm_text %}
    <div class="mt-3 alert alert-{% if confirm_style %}{{ confirm_style }}{% else %}info{% endif %}" role="alert">
      <label class="mb-0">
        <input type="checkbox"
               id="confirm_checkbox"
               name="confirm_checkbox"
               value="1"
               required>
        &nbsp;&nbsp;{{ confirm_text }}
      </label>
    </div>
  {% endif %}

  <div class="mt-4">
    <span>
      <button type="submit"
        class="btn btn-{% if confirm_style %}{{ confirm_style }}{% else %}success{% endif %} form-button form-button-submit">
        {% if submit_button_text %}
          {{ submit_button_text }}
        {% else %}
          Submit
        {% endif %}
      </button>
    </span>

    {% if not cancel_button == False %}
      <span>
        <button type="button" class="ml-2 btn btn-secondary" onclick="history.go(-1)">
          Cancel
        </button>
      </span>
    {% endif %}

  </div>
</form>
