{% extends 'base.html' %}

{% block title %}{{ PROJECT_NAME }}{% endblock %}

{% block body_title %}Welcome to {{ PROJECT_NAME }}!{% endblock %}
{% block body_subheading %}{% endblock %}

{% block content %}

<h3 class="content-title">What is {{ PROJECT_NAME }}?</h3>

<p>{{ PROJECT_NAME }} is a free service that provides an easy way for users to store and retrieve arbitrary JSON data.</p>

<div class="top-links">
  <p>- <a href="{% url 'stores:jsonstore_create' %}">Create a JSON store</a></p>
  <p>- <a href="{% url 'stores:jsonstore_lookup_public' %}">Lookup a public JSON store by name</a></p>
  <p>- <a href="{% url 'faq' %}">Frequently Asked Questions</a></p>
</div>

<h3 class="content-title">Use Cases</h3>
<p>{{ PROJECT_NAME }} can be used to:</p>
<ul>
  <li>Save user settings and config info for frontend apps without having to setup a backend database,</li>
  <li>Mock API data during testing,</li>
  <li>Save random JSON snippets,</li>
  <li>Do anything else you can think of!</li>
</ul>
<p class="mt-4">If {{ PROJECT_NAME }} has helped make your life easier, we'd like to <a href="{% url 'contact_us' %}">hear from you</a>!</p>

{% endblock content %}

{% block style %}

.content-container {
  margin: 1.5rem auto;
}

.top-links {
  margin: 2rem auto 3rem;
  /* text-align: center; */
  font-size: 1.2rem;
}

.content-title {
  /* text-align: center; */
  margin: 1rem auto;
}

{% endblock style %}
